@model AccountViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
    //if (Model.Id == CurrentAccount.currentAccount.Id)
    //    SomeBoolean = true;
    //}
    //bool AccountBoolean = false;
    //if (Model.Type == AutoMy.DomainModels.AccountType.Admin)
    //{
    //    AccountBoolean = true;
    //}
}


<head>
    <meta charset="UTF-8">
    <style>
        /*.UserSection {
            width: 100%;
        }
        .UserInformation {
            width: 400px;
            height: 400px;
            border: 1px solid steelblue;
            border-radius: 5px;
            margin: auto;
        }
        .UserInformation img {
            width: 150px;
            height: 150px;
            display: block;
            border-radius: 8px;
            margin: auto;
        }
        .UserInformation p {
            text-align: center;
            font-size: 20px;
        }
        .UserInformation .Name {
            font-size: 15px!important;
        }
        .UserInformation .Number {
            font-size: 13px!important;
        }
        .PostSection {
            width: 100%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .PostDiv {
            width: 250px;
            border: 1px solid steelblue;
            padding-bottom: 10px;
            margin-top: 20px;
        }
        .PostDiv p, .PostDiv a {
            margin-left: 10px;
        }
        .PostDiv img {
            width: 100%;
            height: 150px;
        }*/
            body,html{
        width:100%;
        height: 100vh;
        padding: 0px;
        margin: 0px;
    }
    .rounded {
        float: left;
    }


    .container-fluid{
        height: 100%;
    }

    .img{
        max-width: 100%;
    }
    .inventar-img{
        width: 600px;
        max-width: 100%;

    }

    .my-a{
        width: 100%;
        font-size: 15px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

.my-col{
    text-align: left;
}

        .my-choose {
            display: flex;
            flex-direction: column;
            align-self: flex-end;
        }

        .FirstDiv {
            width: 230px;
            height: 230px;
            float: left;
            margin-right: 15px;
            display: inline-block;
        }

        .SecondDiv {
            width: calc(100% = 230px);
            display: inline-block;
        }

        /*.FlexDiv {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
        }*/

        .PostEditDivClass {
            display: flex;
            flex-direction: column;
        }

    </style>
</head>
<body onload="OnBodyLoad()">
    <div class="container-fluid ">
        <div class="row">

            <div class="col-xl-2 my-col border-bottom shadow-sm p-3 mb-5 ">
                <div class="d-flex">
                    <div class="FirstDiv">
                        @if (Model.ImageUrl != null)
                        {
                            <img class="img rounded" src="@Model.ImageUrl" width="230" />
                        }
                        else
                        {
                            <img src="~/Source/user-default.jpg" class="img rounded" width="230" />
                        }
                    </div>


                </div>

            </div>
            <div class="SecondDiv col-xl-8 shadow-sm p-3 mb-5 d-flex" style="margin:0px;padding:0px;">
                <div class="row" style="margin:0px;padding:0px;">

                    <div class="col-md-12" style="margin-bottom:30px;">

                        <span id="UsernameP" style="font-size: 25px;">მოხმარებლის სახელი: @Model.Username</span>
                    </div>
                    <div class="col-md-12" style="margin-bottom:30px;">

                        <span style="font-size: 25px;">სახელი და გვარი: @Model.FirstName @Model.LastName </span>
                    </div>
                    <div class="col-md-12" style="margin-bottom:30px;">

                        <span id="PhoneNumberId" style="font-size: 25px;"></span>
                    </div>
                </div>

            </div>
            <div class="col-xl-2  my-choose border-bottom shadow-sm p-3 mb-5 PostEditDivClass">
                <div id="PostEditDiv"></div>



                @*<a class="btn btn-lg btn-outline-secondary my-a" href="#"> შექმენი განცხადება </a>
            <a class="btn btn-lg btn-outline-secondary my-a" href="#"> შეცვალე შენი პროფილი</a>*@

            </div>


            <div class="col-sm-12" style="margin-top: 5%; ">
                <div>
                    <hr>
                    <h1>განცხადებები :</h1>
                    <hr>
                </div>

                <div class="col-md-12">
                    <div class="row FlexDiv" style="padding: 0;margin: 0;">
                        @foreach (var post in Model.Posts)
                        {
                            <div style="margin-bottom: 25px;">
                                <div class="card" style="width: 20rem;">
                                    <div style="height:300px;">
                                        <img class="inventar-img" src="@post.ImageUrl1 ">
                                    </div>

                                    <div class="card-body">
                                        <p class="card-text">ფასი: @post.Price ლ</p>
                                        <p class="card-text">მწარმოებელი: @post.Company</p>
                                        <p class="card-text">მოდელი: @post.Model</p>
                                        <p class="card-text">გამოშვების წელი: @post.PublishingYear</p>

                                        <a href=@Url.Action("Details", "Post", new { Postid = post.Id }) class="btn btn-outline-success">დეტალები</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script>
            var Counter = 0;
            var username = document.querySelector("#UsernameP").textContent.replace("მოხმარებლის სახელი: ", "");
            function IsAdminOrNot()
            {
                $.ajax({
                    type: "GET",
                    url: "/Account/IsAccountInRole?username=@Model.Username",
                    success: function (result)
                    {
                        if (result)
                        {
                            document.querySelector("#PostEditDiv").innerHTML += `<a class="btn btn-lg btn-outline-info my-a" href="/Post/Reports">რეპორტები</a>`
                        }
                    }
                });
            }
            function PostEdit()
            {
                $.ajax({
                    url: "/Account/ReturnUsername",
                    success: function (result)
                    {
                        if (username == result)
                        {
                            document.querySelector("#PostEditDiv").innerHTML = `<a class="btn btn-lg btn-outline-secondary my-a" href="/Account/SignIn"> პროფილის დატოვება </a>
<a class="btn btn-lg btn-outline-success my-a" href="/Post/Create">შექმენი განცხადება</a>
                    <a class="btn btn-lg btn-outline-secondary my-a" href="/Account/Edit"> შეცვალე შენი პროფილი</a>`;
                        }
                    }
                });
            }

            function ReturnPhoneNumber()
            {
                $.ajax({
                    url: "/Account/ReturnPhoneNumberWithUsername?username=@Model.Username",
                    success: function (result)
                    {
                        document.querySelector("#PhoneNumberId").textContent = "მობილურის ნომერი: " + result;
                    }
                })
            }
          
            var Divs = document.querySelectorAll(".PostDiv");
            var Counter = 0;
            function ReturnCategory()
            {
                Divs.forEach(o => {
                    var categoryId = o.getAttribute("id");
                    $.ajax({
                        url: "/Post/ReturnCategory",
                        data: { CategoryId: categoryId },
                        success: function (result) {
                            debugger;
                            o.querySelector("#CategoryId").textContent = "Category: " + result;
                        }
                    });
                });
            }
            function OnBodyLoad()
            {
                PostEdit();
                IsAdminOrNot();
                ReturnCategory();
                ReturnPhoneNumber();
            }
        </script>
</body>