@model AutoMyWebsite.Models.PostViewModel

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<head>
    <style>
        /*a {
            text-decoration: none;
            color: black;
        }
        a:hover {
            text-decoration: none;
            color: black;
            cursor: pointer;
        }*/
        .my-car {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body onload="OnBodyLoad()" >

    @*<div>
            <h4>PostViewModel</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Poster
                </dt>
                <dd class="col-sm-10" id="UsernameId"></dd>
                <dt class="col-sm-2">
                    Category
                </dt>
                <dd class="col-sm-10" id="CategoryId"></dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ImageUrl)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Company)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Company)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Model)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Model)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PublishingYear)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PublishingYear)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.fuelType)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.fuelType)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.VelocityOfEngine)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.VelocityOfEngine)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DistanceDrove)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DistanceDrove)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Cilinders)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Cilinders)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.GearBox)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GearBox)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DriveWheels)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DriveWheels)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Doors)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Doors)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Wheel)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Wheel)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Color)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Color)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CabinColor)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CabinColor)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AirbagCount)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AirbagCount)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ABS)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ABS)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ElectronicWindows)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ElectronicWindows)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AirConditioner)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AirConditioner)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ClimateControl)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ClimateControl)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LeatherSaloon)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LeatherSaloon)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Disks)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Disks)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Navigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Navigation)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CentralLocker)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CentralLocker)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Hatch)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Hatch)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Signaling)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Signaling)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.OnBoardComputer)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.OnBoardComputer)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Hydraulics)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Hydraulics)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AntiSkid)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AntiSkid)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ArmchairsHeating)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ArmchairsHeating)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ParkingControl)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ParkingControl)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BackViewCamera)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BackViewCamera)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TechBrowsing)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TechBrowsing)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>*@
    <div class="container " style="background-color: #fff;border-radius: 5px;">

        <div class="row " style="margin-top: 5%;padding: 20px;">

            <div style="height: auto;" id="demo" class="carousel slide col-lg-6" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner " style="text-align: center;">
                    <div class="carousel-item active">
                        <img src="https://wallpaperaccess.com/full/13646.jpg" class="my-car"
                             alt="Los Angeles">
                    </div>
                    <div class="carousel-item">
                        <img src="https://wallpaperfm.com/img/original/3/b/0/35381.jpg"
                             class="my-car" alt="Chicago">
                    </div>
                    <div class="carousel-item">
                        <img src="https://thewallpaper.co//wp-content/uploads/2016/10/free-1080p-cars-full-hd-images-background-photos-apple-mac-wallpapers-tablet-amazing-4k-download-pictures-1920x1080.jpg"
                             class="my-car" alt="New York">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <div class="col-lg-6">
                <h1 style="font-size: 20px;">იყიდება (მანქანის სახელი ) | ჰიბრიდი , გაზი , ბენზინი | ქალაქი </h1>
                <p style="margin-top: 25px;"> მანქანა არის კარგ მდგომარეობაში და ნუ მევაჭრებით ბაზარზე კი არ ვართ</p>
            </div>
            <div class="col-lg-12 d-flex justify-content-center" style="text-align: center;margin-top: 24px;">
                <table class="table table-bordered table-sm table-striped">
                    <tbody>
                        <tr>
                            <td>მწარმოებელი </td>
                            <td>ABS </td>

                        </tr>
                        <tr>
                            <td>მოდელი </td>
                            <td>ელ. შუშები</td>
                        </tr>
                        <tr>
                            <td>გამოშვების წელი </td>
                            <td>კონდიციონერი </td>

                        </tr>
                        <tr>
                            <td>კატეგორია </td>
                            <td>კლიმატკონტროლი </td>

                        </tr>
                        <tr>
                            <td>საწვავის ტიპი </td>
                            <td>ტყავის სალონი </td>

                        </tr>
                        <tr>
                            <td>ძრავის მოცულობა </td>
                            <td>დისკები </td>

                        </tr>
                        <tr>
                            <td>გარბენი </td>
                            <td>ნავიგაცია </td>

                        </tr>
                        <tr>
                            <td>მწარმოებელი </td>
                            <td>ცენტრალური საკეტი </td>

                        </tr>
                        <tr>
                            <td>ცილინდრები </td>
                            <td>ლუქი </td>

                        </tr>
                        <tr>
                            <td>გადაცემათა კოლოფი </td>
                            <td>სიგნალიზაცია </td>

                        </tr>
                        <tr>
                            <td>წამყვანი თვლები </td>
                            <td>ბორტკომპიუტერი </td>

                        </tr>
                        <tr>
                            <td>კარები </td>
                            <td>ჰიდრავლიკა </td>

                        </tr>
                        <tr>
                            <td>ფერი </td>
                            <td>მოცურების საწინააღმდეგო </td>

                        </tr>
                        <tr>
                            <td>სალონის ფერი </td>
                            <td>სავარძლების გათბობა </td>

                        </tr>
                        <tr>
                            <td>აირბეგი </td>
                            <td>პარკინგკონტროლი </td>

                        </tr>
                        <tr>
                            <td>VIN </td>
                            <td>უკანა ხედვის კამერა </td>

                        </tr>
                        <tr>
                            <td>დეტალური მახასიათებლები </td>
                            <td>ტექ. დათვალიერება </td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 ">
                <div style="overflow-x:auto;">

                    <table class=" table table-bordered table-sm" border="1">
                        <tr>
                            <td rowspan="2">
                                <p>თანხა </p>
                                <p> განბაჟებულია თუ არა</p>

                            </td>
                            <td>
                                <p>ID : 4546587</p>

                            </td>
                            <td>
                                <p>ქალაქი</p>
                            </td>
                            <td>
                                <p>პოსტის გამოქვეყნების თარიღი</p>
                            </td>
                            <td>
                                <p> ნახვები : </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>სახელი</p>
                            </td>
                            <td>
                                <p class="text-danger"> ტელეფონის ნომერი </p>

                            </td>
                            <td>
                                <p class="text-danger"> <a href="#"> ყველა განცხადება</a> </p>

                            </td>
                            <td>
                                <p>წერილის მიწერა</p>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

        </div>



        <div id="ReportEditDiv"></div>
        <script>
        var SlideBoolean = true;
        function ReturnUsername()
        {
            $.ajax({
                type: "GET",
                url: "/Account/ReturnPosterUsername?usernameId=@Model.AccountId",
                success: function (result)
                {
                    document.querySelector("#UsernameId").innerHTML = `<b><a href="/Account/IndexWithUsername?Username=${result}">${result}</a></b>`;
                }
            });
        }
        function ReturnCategory()
        {
            $.ajax({
                type: "GET",
                url: "/Post/ReturnCategory?CategoryId=@Model.CategoryId",
                success: function (result)
                {
                    document.querySelector("#CategoryId").innerHTML = result;
                }
            });
        }
        function OnReportButtonClick()
        {
            if (SlideBoolean)
            {
                $("#Formio").slideDown(750);
                SlideBoolean = false;
            }
            else
            {
                $("#Formio").slideUp(750);
                SlideBoolean = true;
            }
        }
        function ReportOrEdit()
        {
            $.ajax({
                type: "GET",
                url: "/Account/ReturnId",
                success: function (result)
                {
                    if ("@Model.AccountId" == result)
                        document.querySelector("#ReportEditDiv").innerHTML = `<a href="/Post/Edit?id=@Model.Id" class="btn btn-primary">Edit</a>`;
                    else if (result != 0 && result != null && result != "" && result != " ")
                        document.querySelector("#ReportEditDiv").innerHTML =
                        `<button class="btn btn-primary" onclick="OnReportButtonClick()">Report</button>
                        <div style="display:none" id="Formio">
                            <input id="PostIdInput" hidden="hidden" style="margin-top: 10px;" value=@Model.Id name="postId">
                            <textarea id="ReasonInput" name="reason" style="display: block; margin-top: 10px;"></textarea>
                            <button onclick="OnSubmitButtonClick()" style="margin-top: 10px;" class="btn btn-primary">Submit</button>
                            <p id="ComebackP" style="color: red; font-size: 17px; margin-top: 5px;"></p>
                        </div>`;
                }
            });
        }
        function OnSubmitButtonClick()
        {
            $.ajax({
                type: "POST",
                url: "/Post/Report",
                data: { postId: parseInt(document.querySelector("#PostIdInput").value), reason: document.querySelector("#ReasonInput").value },
                success: function (result)
                {
                    document.querySelector("#ComebackP").textContent = result;
                }
            });
        }
        function OnBodyLoad()
        {
            ReturnUsername();
            ReturnCategory();
            ReportOrEdit();
        }
        </script>
</body>