@model List<PostViewModel>
@{
    ViewData["Title"] = "Index";
}

<style>
    .PostSection {
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .PostDiv {
        width: 250px;
        border: 1px solid steelblue;
        padding-bottom: 10px;
        margin-top: 20px;
    }

    .PostDiv p, .PostDiv a {
        margin-left: 10px;
    }

    .PostDiv img {
        width: 100%;
        height: 150px;
    }
    .value {
        width: 100%;
        text-align: center;
    }

    .my-values {
        height: 40px;
        width: 240px;
        max-width: 100%;
        color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 5px 5px;
    }

    .my-value {
        text-align: center;
        width: 240px;
        max-width: 100%;
        color: rgb(0, 217, 255);
        margin-top: 10px;
        margin-bottom: 10px;
        /* background-color: rgb(0, 0, 0); */
        border-radius: 5px 5px 0 0;
    }

    .my-col {
        margin: 25px;
        display: flex;
        justify-content: center;
    }

    .row {
        display: flex;
        justify-content: center;
    }

</style>
<body style="background-color:#edeef0;" onload="OnBodyLoad()">
    <div class="d-flex justify-content-center">

        <form asp-action="Filter" asp-controller="Post" method="post">
            <div class="row" style="margin:0px;padding:0px;">
                <div class="col-lg-3">
                    <h5 style="margin-left: 5px;margin-top:10px; margin-bottom:10px;">კატეგორია:</h5>
                    <select name="categoryId" class="custom-select mb-3">
                        <option value=1>Economy</option>
                        <option value=2>Compact</option>
                        <option value=3>Compact Cambrio</option>
                        <option value=4>Intermediate Combi</option>
                        <option value=5>Luxury Car</option>
                        <option value=6>Luxury Convertible</option>
                        <option value=7>SUV</option>
                        <option value=8>Off Road 4x4</option>
                        <option value=9>Pick-up Car</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <h5 style="margin-left: 5px;margin-top:10px; margin-bottom:10px;">ფასი-დან :</h5>
                    <div class="form-group">

                        <input type="number" class="form-control" name="GreaterThanMoney" />
                    </div>

                </div>
                <div class="col-lg-3">
                    <h5 style="margin-left: 5px;margin-top:10px; margin-bottom:10px;">ფასა-მდე :</h5>
                    <div class="form-group">
                        <input type="number" class="form-control" name="LessThanMoney" />
                    </div>
                </div>
                <div class="col-lg-3 d-flex align-items-center">

                    <input type="submit" value="გაფილტვრა" class="btn btn-outline-secondary btn-md" style="margin-left: 10px;margin-top:28px;" />

                </div>
            </div>
        </form>
    </div>

    @*<section class="PostSection">
        @foreach (var post in Model)
        {
            <div class="PostDiv" id=@post.CategoryId>
                <img src=@post.ImageUrl />
                <p class="PostName">@post.Name</p>
                <p id="CategoryId"></p>
                <p class="PostPrice">Price: @post.Price$</p>
                <p class="PostCompany">Company: @post.Company</p>
                <p class="PostModel">Model: @post.Model</p>
                <p class="PostPublishingYear">Year: @post.PublishingYear</p>
                <a class="btn btn-primary" href=@Url.Action("Details", "Post", new { Postid = post.Id })>Details</a>
            </div>
        }*@
    @*</section>*@
    <div class="container" style="background-color: #fff;">

        <div class="row ">
            @foreach (var post in Model)
            {
                <div class="col-lg-3 my-col shadow p-3 mb-5 rounder" style="padding:0px;">
                    <a href=@Url.Action("Details", "Post", new { Postid = post.Id }) style="text-decoration: black;color: black;">

                        <img src="@post.ImageUrl1"
                             width="240" class="rounded" style="max-width: 100%;">
                        <div class="car-info">

                            <div class="my-value border border-bottom-0">

                                @*<h5 style="height: 40px;">@post.Name    </h5>*@
                            </div>
                            <div class="d-flex my-values border border-top-0">

                                <p id="CategoryId"></p>


                                <div class="value ">
                                    <h4> <span class="badge badge-info">@post.Price ლ</span> </h4>
                                </div>
                                <div>

                                </div>
                                <div class="value">
                                    <h4> <span class="badge  badge-info">@post.PublishingYear</span></h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>

    <script>
        var Divs = document.querySelectorAll(".PostDiv");
        var Counter = 0;
        function OnBodyLoad() {
            Divs.forEach(o => {
                var categoryId = o.getAttribute("id");
                $.ajax({
                    url: "/Post/ReturnCategory",
                    data: { CategoryId: categoryId },
                    success: function (result) {
                        debugger;
                        o.querySelector("#CategoryId").textContent = "Category: " + result;
                    }
                });
            });
        }
    </script>
</body>
